<div class="recipe" id="recipe-{{=it.slug}}" itemname="{{=it.makes}}">
    <div class="makes">{{=it.count}}x {{=it.makes}}</div>
    {{? it.needs.length > 0}}
    {{? hasDependencyChain(it)}}
    <div class="base">
        <div class="base-header">Base Materials</div>
        {{var counts = getBaseItemCounts(it.makes, 1);}}
        {{~Object.keys(counts) :item}}
        <div class="base-dependency">{{=item}}<span class="base-dependency-count">{{=counts[item]}}</span></div>
        {{~}}
    </div>
    {{?}}
    <div class="needs">
        <div class="needs-header">Recipe</div>
        {{~it.needs :item:index}}<div class="dependency">{{=item.name}}<span class="dependency-count">{{=item.count}}</span></div>{{~}}
    </div>
    {{?}}
    <form class="needs-form" action=""><input type="text" class="needs-input" placeholder="Add dependency"><input type="submit" class="needs-submit"></form>
</div>
